/*=========*/
/*  RESET  */
/*=========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*---------------------------------------*/

/*===========*/
/*  GENERAL  */
/*===========*/
body{
  /*background-color: #222;*/
  background-color: #F8F8EC;
  z-index: 1;
}
/*@font-face {
 font-family: "whoa";
 src: url("whoa.ttf");
}*/
p{
  font-family: 'Mirza', cursive;
  font-size: 23px;
}
a{
  text-decoration: none;
}
.container{
  display: flex;
  flex-direction: column;
}

audio{
  display: none;
}
/*---------------------------------------------------------------------------------------------------------------------*/

/*=========================================================*/
/*   RESPONSIVE   (min-width: 320px and max-width: 800px)  */
/*=========================================================*/

@media all and (min-width: 320px) and (max-width: 1262px) {

  /*==========*/
  /*  HEADER  */
  /*==========*/
    header{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 250px;
      background: url('../images/uplogo.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      border-bottom: 4px solid #FB7826;
      text-shadow: 4.5px 4.5px 1px black;
    }

    h1{
      color: white;
      font-family: 'Lobster', cursive;;
      text-shadow: 1px 2px #000;
      font-size: 36px;
      margin-top: 20px;
      padding: 20px;
    }
  /* HOVER DES BOUTONS DE LA NAV */
    .information:hover{
      color: rgba(251, 120, 38, 0.8);
    }
    .acceuil:hover{
      color: rgba(253, 160, 41, 0.8);
    }
    .accrobranche:hover{
      color: rgba(75, 163, 60, 0.8);
    }
    .skatepark:hover{
      color: rgba(13, 176, 195, 0.8);
    }
    .trampo:hover{
      color: rgba(224, 204, 22, 0.8);
    }
    .evenement:hover{
      color: rgba(252, 42, 33, 0.8);
    }
    .anniversaire:hover{
      color: rgba(220, 63, 209, 0.8);
    }
    .media:hover{
      color: rgba(118, 108, 255, 0.8);
    }
  /*-----------------------------------------------*/

  /*===============*/
  /*  MENU BURGER  */
  /*===============*/

    .btn-navigation{
      z-index: 6;
      position: fixed;
      right: 10px;
      top: 10px;
      z-index: 999;
      cursor: pointer;
    }

    .btn-navigation .barre{
      z-index: 6;
      width: 25px;
      height: 4px;
      background: #FF6F00;
      margin-top: 3px;
      transition: background .3s ease-in-out;
      -webkit-transition: background .3s ease-in-out;
    }

    .btn-navigation .barre.white{
      background: #FF6F00;
    }

    nav.isOpen{
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
    }

    nav{
      z-index: 5;
      position: fixed;
      right: 0;
      top: 0;
      padding: 5px;
      background: #333;
      width: 40%;
      height: 100%;
      transition: transform .6s ease-in-out;
      -webkit-transition: transform .6s ease-in-out;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
    }

    nav ul{
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-left: 15px;
      top: 220px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }

    nav ul li{
      list-style: none;
      margin: 10px 0;
    }

    nav ul li a{
      text-decoration: none;
      color:  #fff;
      margin: 10px 0;
      font-size: 15px;
    }
  /*------------------------------------------------*/

  /*=========*/
  /*  NAV 2  */
  /*=========*/
  .nav2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: rgb(51, 51, 51);
    height: 35px;
    color: white;
  }
  .nav2 p{
    font-size: 30px;
    font-family: 'Lobster', cursive;
  }
  .nav2 a{
    color: white;
  }
  /*------------------------------------------------*/

  /*==================*/
  /*  MILIEU DE PAGE  */
  /*==================*/
  main{
    z-index: -1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  section{
    display: flex;
    margin: auto;
    height: auto;
    width: 90%;
    flex-direction: column;
    margin-top: 10px;
  }
  article{
    display: flex;
    flex-direction: column;
    height: 125px;
    padding: 2%;
  }
  article p{
    font-size: 14px;
  }
  img{
    height: 100%;
    width: 100%;
  }
  .hrsection{
    width: 60%;
    margin: 60px auto;
    color: #FB7826;
    border: 4px solid #FB7826;
  }
  .txt_sec, .txt_sec1{
    flex: 1;
  }
  .img_txt, .calendrier, .menu{
    flex: 2;
    height: 200px;
  }
  /*========*/
  /*  MAPS  */
  /*========*/
  .maps{
    border-top: 3px solid #FB7826;
    border-radius: 10px 10px 0px 0px;
  }
  /*=======================*/
  /*  MAIN BISTROT TOGGLE  */
  /*=======================*/
    #mainbistrot{
      position: absolute;
      background-color: rgb(51, 51, 51);
      margin-top: -6px;
      height: 45em;
      width: 100%;
      z-index: 99999;
    }
    #mainbistrot p{
      color: white;
      font-size: 16px;
      font-family: 'Mirza', cursive;
    }
    #mainbistrot section{
      margin-bottom: -0.05em;
      width: 80%;
    }
    #mainbistrot article{
      width: 100%;
    }
    #mainbistrot h2{
      font-size: 18px;
      color: #FB7826;
    }
    #mainbistrot img{
      display: none;
    }
    .hrsection_bistrot{
      color: #FB7826;
      margin: 5px auto;
      width: 45%;
      border: 4px solid #FB7826;
    }
  /*------------------------------------------------*/

  /*==========*/
  /*  FOOTER  */
  /*==========*/
    footer{
      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: #222;
      color: white;
    }
    footer a{
      text-decoration: none;
      color: white;
    }
    footer a:hover{
      color: #FB7826;
    }
    footer h3{
      color: #FB7826;
      font-size: 24px;
      margin-bottom: 0.5em;
    }
    footer article{
      margin: 2.5em;
    }
    .info{
      margin-bottom: -50px;
    }
    .fa{
      color: #FB7826;
    }
    .lienSocial{
      text-align: center;
    }
    .AdresseNum p{
      font-size: 17px;
    }
    .fa-facebook-official{
      transition: 1s;
    }
    .fa-facebook-official:hover{
      color: #395794;
      transition: 1s;
    }
  }
/*---------------------------------------------------------------------------------------------------------------------*/

/*===========================================================*/
/*   RESPONSIVE   (min-width: 1263px and max-width: 1920px)  */ /* Couleur changer par Kévin */
/*===========================================================*/

@media all and (min-width: 1263px) and (max-width: 1920px) {

/*=======*/
/*  NAV  */
/*=======*/
  nav{
     position: fixed;
     width: 100%;
     text-align: center;
     background-color: rgba(225, 207, 187, 0.5);
   }
   ul{
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     padding: 1.4%;
     list-style: none;
   }
   li{
     height: 100%;
     width: 50%;   /* Ajout de taille pour les border (Camille) */
     list-style: none;
     font-size: 0.5px;
     border-right: 2px solid #158D00;  /* Ajout de la border  (Camille) */
   }
   li:last-child{

    border: none;   /* On retire la derniere border pour plus de style (Camille) */
  }
  nav  a{
     display: flex;
     justify-content: space-around;
     text-decoration: none;
     font-family: 'Lobster', cursive;
     background-color: rgba(202, 202, 202, 0.8);
     border: 2px solid black;
     border-radius: 30%;
     width: 80%;
     margin: auto;
     padding: 0.2em;
     font-size: 25px;
     color: black;
   }
  .fa-bell-slash{
   cursor: pointer;
  }
  .nav2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    margin-top: 5.25%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.7s;
    border-radius: 0px 0px 14px 14px;
    height: 50px;
    color: white;
  }
  .nav2 p{
    font-size: 35px;
    font-family: 'Lobster', cursive;
  }
  .nav2 a{
    color: white;
  }
  .nav2:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.7s;
    color: white;
  }
/*=======================*/ /* Crée par Kévin */
/*  MAIN BISTROT TOGGLE  */
/*=======================*/
  #mainbistrot{
    position: absolute;
    margin-top: -6px;
    height: 200em;
    width: 100%;
    z-index: 99999;
  }
  #mainbistrot p{
    font-size: 25px;
  }
  #mainbistrot section{
    width: 40%;
  }
  #mainbistrot article{
    margin: 2%;
    height: 165px;
    width: 30%;
  }
  #mainbistrot h2{
    color: #FB7826;
  }
  #mainbistrot p{
    font-family: 'Mirza', cursive;
  }
  #mainbistrot img{
    box-shadow: 4px 4px 5px #888888;
  }
  .hrsection_bistrot{
    color: #FB7826;
    margin: 50px auto;
    width: 30%;
    border: 4px solid #FB7826;
  }
/* HOVER DES BOUTONS DE LA NAV */
  .information:hover{
    color: #FB7826;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .acceuil:hover{
    color: white;
    background-color: rgba(253, 160, 41, 0.8);
  }
  .accrobranche:hover{
    color: white;
    background-color: rgba(75, 163, 60, 0.8);
  }
  .skatepark:hover{
    color: white;
    background-color: rgba(13, 176, 195, 0.8);
  }
  .trampo:hover{
    color: white;
    background-color: rgba(224, 204, 22, 0.8);
  }
  .evenement:hover{
    color: white;
    background-color: rgba(252, 42, 33, 0.8);
  }
  .anniversaire:hover{
    color: white;
    background-color: rgba(220, 63, 209, 0.8);
  }
  .media:hover{
    color: white;
    background-color: rgba(10, 31, 255, 0.8);
  }
/*---------------------------------------*/

/*==========*/
/*  HEADER  */
/*==========*/
  header{
    background-image: url('../images/bgbody.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid #07818F;
    text-shadow: 4.5px 4.5px 1px black;
  }
  h1{
    text-align: center;
    padding: 8%;
    font-size: 80px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    color: #07818F;
  }
  .titreH{
    font-size: 180px;
  }
/*---------------------------------------*/

/*========*/
/*  MAIN  */
/*========*/
  main{
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: -1;
  }
  section{
    display: flex;
    margin: auto;
    height: auto;
    width: 70%;
    flex-direction: row;
    margin-top: 30px;
    /*background-color: #F8F3D1;*/
  }

  article{
    justify-content: space-around;
    flex-direction: column;
    height: 270px;
    padding: 2%;
    display: flex;
  }

  h2{
    font-family: 'Lobster', cursive;
  }

  img{
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
  }
  span{
    font-size: 16px;
  }
  .hrsection{
    width: 40%;
    margin: 60px auto;
    color: #07818F;
    border: 4px solid #07818F;
  }
  .txt_sec, .txt_sec1{
    flex: 2;
  }
  .img_txt, .calendrier, .menu{
    flex: 1;
  }

  .image_bistrot{
    margin-left: 30em;
  }

/*---------------------------------------*/

/*===============*/
/*  SECTION MAP  */
/*=============== Pourquoi ne pas appeler directement iframe? (Alex)*/
  .maps{
    border-top: 3px solid #07818F;
    border-radius: 10px 10px 0px 0px;
    height: 400px;
    width: 100%;
  }
/*---------------------------------------*/

/*==========*/
/*  FOOTER  */
/*==========*/
  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background-color: #222;
    color: white;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
  footer a:hover{
    color: rgb(13, 176, 195);
  }
  footer article{
    margin-top: -6.5em;
  }
  footer h3{
    color: #07818F;
    font-size: 25px;
  }
  .fa{
    color: #07818F;
  }
  .lienSocial{
    text-align: center;
  }
  .fa-facebook-official{
    transition: 0.7s;
  }
  .fa-facebook-official:hover{
    color: #395794;
    transition: 0.7s;
  }

}


/*---------------------------------------------  (Camille)  */

/*============*/
/* Animation */
/*==========*/

.box-active {
  animation-name: translateInRight;
  animation-duration: 5s;
  animation-iteration-count: revert;
}
.box-active2 {
  animation-name: translateInLeft;
  animation-duration: 4s;
  animation-iteration-count: revert;
}

@keyframes translateInRight {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }

  50% {
    transform: translateX(+150%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes translateInLeft {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }

  50% {
    transform: translateX(-175%)
  }
  100% {
    transform: translateX(0%);
  }
}
